@import "mixins";

.header {
  grid-area: header;
  background-color: #0278bd;
  text-align: center;
  min-height: 10vh;
  padding: 14px;
  width: 100%;
  .logo {
    @include responsive-img(48px, 80%);
  }
}

.header-div {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1565c0;
  padding: 10px;
}

.header-div i {
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
  align-self: center;
}

.header-div i:hover {
  color: #a0d8ef;
}

.nav-bar {
  grid-area: nav;
  min-height: 4vh;
  display: flex;
}

.nav-menu {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
  padding: 0px;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0);
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}
.li-list {
  list-style: none;
  position: relative;
  background-color: #09a1c7;
}

.nav-link {
  display: block;
  padding: 10px 8px;
  font-size: 12px;
  text-decoration: none;
  color: #333;
}

.ul-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  padding: 10px;
  margin: 0;
}

.li-list:hover > .ul-list {
  display: block;
}

.sub-ul-list {
  display: none;
  position: absolute;
  top: 0px;
  left: 60px;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 10px;
  margin: 0;
}

.li-list:hover > .sub-ul-list {
  display: block;
}

@media (min-width: 768px) {
  .header {
    padding: 18px;
    .logo {
      @include responsive-img(60px, 80%);
    }
  }

  .header-div i {
    font-size: 20px;
  }
  .nav-menu {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .li-list {
    position: relative;
    border: none;
  }

  .ul-list,
  .sub-ul-list {
    position: absolute;
    top: 0;
    left: 60px;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
    display: none;
  }

  .li-list:hover > .ul-list,
  .li-list:hover > .sub-ul-list {
    display: block;
  }
}

@media (min-width: 1024px) {
  .header {
    font-size: 1.2rem;
    padding: 36px;
    .logo {
      @include responsive-img(80px, 80%);
    }
  }
  .header-div i {
    font-size: 24px;
  }
  .nav-menu {
    max-width: 1200px;
    margin: 0 auto;
  }

  .nav-link {
    padding: 20px 30px;
    font-size: 1.1rem;
  }

  .ul-list,
  .sub-ul-list {
    min-width: 200px;
  }
  .sub-ul-list {
    position: absolute;
    top: 0px;
    left: 180px;
  }
}
